[Unit]
Description=Running service
 
[Service]
Type=simple


Restart=always
RestartSec=5
WorkingDirectory=/Users/Shared
ExecStart=/Users/Shared/tc-uploader

PermissionsStartOnly=true
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=runningservice
 
[Install]
WantedBy=multi-user.target