[Unit]
Description=Running service
 
[Service]
Type=simple


Restart=always
RestartSec=5
WorkingDirectory=/bin
ExecStart=/bin/server

PermissionsStartOnly=true
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=runningservice
 
[Install]
WantedBy=multi-user.target